﻿<div id="alertPlaceholder"></div>
<div class="row">
    <div class="col-sm-4">
        <form id="updateForm">
            <h3>Update</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="Email" disabled />
            </div>
            <div class="form-group">
                <label>Old Password</label>
                <input class="form-control" type="password" name="OldPassword" />
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password" name="NewPassword" />
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input class="form-control" type="password" name="ConfirmPassword" />
            </div>
            <div class="form-group">
                <button id="updateButton" type="button" class="btn btn-default" disabled>Update</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <form id="registerForm">
            <h3>Register</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="Email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="Password" />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" name="ConfirmPassword" />
            </div>
            <div class="form-group">
                <div id="g-recaptcha" class="g-recaptcha"></div>
                <button id="registerButton" type="button" class="btn btn-default" disabled>Register</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <h3>Log In</h3>
        <form id="loginForm">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="Email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="Password" />
            </div>
            <div class="form-group">
                <button id="loginButton" type="button" class="btn btn-success">Log In</button>
                <button id="logoutButton" type="button" class="btn btn-danger" disabled>Log Out</button>
            </div>
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="card card-outline-success hidden-xs-up">
            <div class="card-header bg-success">
                Session Token
            </div>
            <div class="card-block" id="loginMessage" style="word-break: break-all">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="card card-outline-info hidden-xs-up">
            <div class="card-header bg-info">
                User Info
            </div>
            <div class="card-block" id="userInfo" style="word-break: break-all">
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/app/profile")
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>