﻿<div id="alertPlaceholder"></div>
<form id="mailForm">
    <div class="form-group">
        <label>Recipient's address</label>
        <input type="email" class="form-control" placeholder="Enter email" name="Email">
        <small class="form-text text-danger">Please do not send spam content</small>
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" placeholder="Enter message" name="Message"></textarea>
    </div>
    <div id="g-recaptcha" class="g-recaptcha"></div>
    <button id="submitButton" type="button" class="btn btn-primary" disabled>Send</button>
</form>

@Scripts.Render("~/bundles/app/sendmail")
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>