﻿<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

<div id="alertPlaceholder"></div>

<form id="searchForm">
    <h3>Weather Search</h3>
    <div class="form-group">
        <label>Country Name</label>
        <input id="searchCountry" class="form-control" type="text" name="CountryName">
    </div>
    <div class="form-group">
        <label>City Name</label>
        <input id="searchCity" class="form-control" type="text" name="CityName">
    </div>
    <div class="form-group">
        <button id="searchButton" type="button" class="btn btn-default">Search</button>
    </div>
</form>

<div class="card card-outline-success">
    <div class="card-header bg-success">
        Weather
    </div>
    <div class="card-block" style="word-break: break-all" id="currentWeather"></div>
</div>

<script>
    $(document).ready(function () {
        $('#searchCountry').val(geoplugin_countryName());
        $('#searchCity').val(geoplugin_city());
    });

    $('#searchButton').on('click', function () {
        getWeather({
            'CountryName': $('#searchCountry').val(),
            'CityName': $('#searchCity').val()
        });
    });

    function getWeather(formValue) {
        showAlert('info', 'Making AJAX request');
        $.ajax({
            type: 'GET',
            url: window.location.origin + `/api/Values/?CityName=${formValue.CityName}&CountryName=${formValue.CountryName}`
        }).done(function (data, textStatus, jqXHR) {
            xmlDoc = $.parseXML(data);
            try {
                currentWeather = $($.parseXML($(xmlDoc).find('string').text())).text();
            } catch (err) {
                currentWeather = $(xmlDoc).find('string').text();
            }
            $('#currentWeather').text(currentWeather);
            clearAlert();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            showAlert('danger', 'AJAX Failed');
        });
    }

    function showAlert(type, message) {
        $('#alertPlaceholder').html(`<div class="alert alert-${type} alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>${message}</span></div>`);
    }

    function clearAlert() {
        $("#alertPlaceholder").empty();
    }

</script>