﻿<div id="alertPlaceholder"></div>
<div class="form-group">
    <label for="photo">Upload new photo</label>
    <input type="file" id="photo">
    <p class="help-block">Upload a new photo</p>
    <button id="uploadPhoto" type="button" class="btn btn-default" disabled>Upload</button>
</div>
<h1>Your Photos</h1>

<div id="gallery" class="row"></div>
<!-- /.row -->

@Scripts.Render("~/bundles/app/userphotos")